{% extends 'base.html.twig' %}

{% block title %}Hello PrestataireController!{% endblock %}

{% block javascripts %}
{# {{ parent() }} #}

<script src="{{ asset('js/filters.js') }}" defer></script>
{% endblock %}

{% set path = 'prestataire_index' %}
{% set pages = prestataires.totalPages %}
{% set currentPage = prestataires.currentPage %}

{% block body %}
<main class="prestataire-page">
    {{ include('_partials/_search-bar.html.twig') }}
        {% include "_partials/_prestataire_card.html.twig" %}
    
</main>

{% endblock %}
